Package: libndpi-dev
Source: ndpi
Version: 3.4-1vyatta2
Architecture: amd64
Maintainer: Ludovico Cavedon <cavedon@debian.org>
Installed-Size: 1798
Depends: libndpi3.4 (= 3.4-1vyatta2)
Section: libdevel
Priority: optional
Homepage: http://www.ntop.org/products/ndpi/
Description: extensible deep packet inspection library - development files
 nDPI is a ntop-maintained superset of the popular OpenDPI library. Released
 under the LGPL license, its goal is to extend the original library by adding
 new protocols that are otherwise available only on the paid version of
 OpenDPI.
 .
 nDPI has also been modified to be suitable for traffic monitoring
 applications, by disabling specific features that slow down the DPI engine
 while being them un-necessary for network traffic monitoring.
 .
 With nDPI, it is possible to both detect known protocols on non-standard ports
 (e.g. detect http non ports other than 80), and also the opposite.
 .
 This package contains the static library and compilation headers.
