Package: vyatta-ndpi-application-types-v1-yang
Source: ndpi
Version: 3.4-1vyatta2
Architecture: all
Maintainer: Ludovico Cavedon <cavedon@debian.org>
Installed-Size: 29
Section: contrib/admin
Priority: optional
Homepage: http://www.ntop.org/products/ndpi/
Description: ndpi application type yang definitions
 The nDPI application type YANG definitions
